body{
    /* background-image:linear-gradient(to bottom, #FFD4B4, #E7717D); */
    height: 100%;
    margin: 0;
}

#greaterdiv{
    display: flex;
}



@keyframes wave {
    0% {background-color: rgb(252, 204, 240);}
    50% {background-color: rgb(134, 216, 248);}
    100% {background-color: rgb(252, 204, 240);}
    
}
.sideDiv{
    width: 25%;
    animation: wave 10s infinite;
}
























/* Title Part */
#introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#introduction h1{
    margin: 0;
    margin-top: 50px;
}

#introduction p{
   text-align: justify;
   max-width: 50%;
}



















#accounts{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.iaccount{
    display: flex;
    /* border: 3px dashed salmon; */
    border-radius: 7px;
    margin: 3% 0%;
    justify-content: space-evenly;
    max-width: 75%;
}

.accounttitle{
    display: flex;
    flex-direction: column;
}

.accounttitle h1{
    margin: 0%;
}
.iaccount p{
    font-size: 20px;
    text-align: justify;
    margin: 0;
    max-width: 500px;
}

.accounttitle h3{
    font-size: 14px;
    margin: 4px 0px;
}

.accounttitle h2{
    font-size: 16px;
    margin: 4px 0px;
}

.accountpara{
    padding-left: 100px;
}



/* Final Input Div */
#input .accounttitle{
    max-width: 25%;

}


#input h1{
    font-size: 26px;
}

/* #input .accountpara{
    padding-left: 0;
} */












